@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-inter: 'Inter', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --color-primary: #F68E15;
    --color-brand-blue: #2781F6;
    --color-custom-black: #04071B;
}

@utility text-custom-gradient {
    background: linear-gradient(to right, #F1881F, #CE597C);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.buttonLink {
    @apply relative inline-flex h-fit w-fit rounded-[8px] px-4 py-3;
    @apply bg-brand-blue text-white transition-colors hover:text-black;
} 

@utility bg-brand-gradient {
    background: linear-gradient(to right, #F68E15 0%, rgba(203, 85, 136, 0.9) 100%);
}

.fullHeroParagraph > p:nth-child(2) {
    @apply dark:text-[#A2A7BA] font-inter font-normal md:text-[16px] text-[#2E3754] pt-2
}
.fullHeroParagraph br {
    @apply hidden lg:block
}

@utility glow {
    background-image: url("/shadows/left-shadow.svg"), url("/shadows/right-shadow.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -600px -500px, top right;
    background-size: auto, auto;
}

@utility footer-flow {
    background-image: url("/shadows/left-shadow.svg"), url("/shadows/right-shadow.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -500px -1000px, top right;
    background-size: auto, auto;
}
 
@utility light-testimonial {
    background: linear-gradient(90deg, #D9EDFF 39%, rgba(44,80,80,.18) 100%);
    @variant dark {
        background-image: none;
        background-color: transparent;
    }
}
@utility dark-testimonial {
    background: linear-gradient(90deg, #1E2750 39%, #131D48 100%);
}
@utility bg-figma-soft {
    background-image: linear-gradient(90deg, #F3F8FF 0%, #FAF3FC 100%);
    @variant dark {
        background-image: none;
        background-color: transparent;
    }
}

  
@media (max-width: 768px) { /* Tailwind 'sm' breakpoint */
    .glow {
        background-position: -900px -500px, top right;
    }
}